*{
    margin:0;

}

.navbar-dark .navbar-brand {
    color: #000000; /* Código de color para negro */
}


#encabezado{
    margin: 0;
    padding: 0;
}

#Carouselimg .carousel-item img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

#Carouselimg .carousel-item div{
    color: white;
}


